{% extends "base.html" %}
{% block content %}

{% for artist in artists %}
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{ artist.image }}">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><strong>{{ artist.artist_name }}</strong>
        <i class="fas fa-ellipsis-v"></i></span>
        <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><strong>{{ artist.artist_name }}</strong><i class="fas fa-times"></i></span>
        <p>Genre: {{ artist.genre_name }}</p><br>
        <p>Age: {{ artist.age }}</p><br>
        <p>Nationality: {{ artist.nationality }}</p><br>
        {% if artist.vocals == "on" %}
            Vocals:<i class="fas fa-microphone"></i>
        {% endif %}
        {% if artist.vocals == "off" %}
            Vocals:<i class="fas fa-microphone-slash"></i>
        {% endif %}
    </div>
</div>
{% endfor %}

{% endblock %}