{% extends "base.html" %}
{% block content %}

<body class="bg-artists">

    <div class="title-artists center-align">
        <h1>Artists</h1>
    </div>
    <!-- Search field -->
    {% if session.user %}
    <div class="row">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Artists</label>
                </div>
                <div class="col s12 m4">
                    <button type="submit" class="btn">
                        <i class="fas fa-search"></i>
                    </button>
                    <a href="{{ url_for('get_artists') }}" class="btn">
                        <i class="fas fa-undo"></i>
                    </a>
                    <!-- Add artist modal trigger button -->
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow modal-trigger"
                        data-target="modal3">
                        Add Artist <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    {% else %}
    <div>
        <p>For more functions such as search and add your own artists, log in or sign up!</p>
    </div>
    {% endif %}
    <!-- Add artist modal -->
    <div id="modal3" class="modal">
        <div class="modal-content">
            <h3 class="center-align">Add Artist</h3>
            <div class="row">
                <form class="col s12" method="POST" action="{{ url_for('add_artist') }}">
                    <!-- Genre options -->
                    <div class="row">
                        <div class="input-field col s12">
                            <select id="genre_name" name="genre_name" class="validate" required>
                                <option value="" disabled selected>Genres</option>
                                {% for genre in genres %}
                                    <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                                {% endfor %}
                            </select>
                            <label for="genre_name">Choose genre</label>
                        </div>
                    </div>
                    <!-- Artist name -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-pencil-alt prefix"></i>
                            <input id="artist_name" name="artist_name" minlength="2" maxlength="50" type="text"
                                class="validate" required>
                            <label for="artist_name">Artist Name</label>
                        </div>
                    </div>
                    <!-- Nationality -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-align-left prefix"></i>
                            <textarea id="nationality" name="nationality" minlength="1" maxlength="100"
                                class="materialize-textarea validate" required></textarea>
                            <label for="nationality">Nationality</label>
                        </div>
                    </div>
                    <!-- Image URL -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-align-left prefix"></i>
                            <textarea id="image" name="image" minlength="5" maxlength="200"
                                class="materialize-textarea validate" required></textarea>
                            <label for="image">Image URL</label>
                        </div>
                    </div>
                    <!-- Spotify URL -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-align-left prefix"></i>
                            <textarea id="spotify" name="spotify" minlength="5" maxlength="200"
                                class="materialize-textarea validate" required></textarea>
                            <label for="spotify">Spotify URL</label>
                        </div>
                    </div>
                    <!-- Vocals -->
                    <div class="row">
                        <div class="input-field col s12">
                            <div class="switch">
                                <i class="fas fa-exclamation-circle prefix"></i>
                                <label for="vocals">
                                    <input type="checkbox" id="vocals" name="vocals">
                                    <span class="lever"></span>
                                    Vocals
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- Add button -->
                    <div class="row">
                        <div class="col s12 center-align">
                            <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                                Add Artist <i class="fas fa-plus-square right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Artist cards -->
    {% if artists|length > 0 %}
    <div class="row">
        {% for artist in artists %}
        <div class="col s12 m4">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ artist.image }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><strong>{{ artist.artist_name }}</strong>
                        <a href="{{ artist.spotify }}" target="_blank"><i class="fab fa-spotify"></i></a>
                        <p>{{ artist.genre_name }}</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><strong>{{ artist.artist_name }} </strong><i
                            class="fas fa-chevron-down right"></i></span>
                    <p>Genre: {{ artist.genre_name }}</p>
                    <p>Nationality: {{ artist.nationality }}</p>
                    {% if artist.vocals == "on" %}
                    Vocals: <i class="fas fa-microphone"></i>
                    {% endif %}
                    {% if artist.vocals == "off" %}
                    Vocals: <i class="fas fa-microphone-slash"></i>
                    {% endif %}
                    <p><em>Added by: {{ artist.created_by }}</em></p>
                    {% if session.user|lower == artist.created_by|lower %}
                    <a href="{{ url_for('delete_artist', artist_id=artist._id) }}"
                        onclick="return confirm('Do you want to delete this artist?');"
                        class="btn-small green accent-4">Delete</a>
                    <a href="{{ url_for('edit_artist', artist_id=artist._id) }}"
                        class="btn-small light-blue lighten-1">Edit</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endif %}
</body>
{% endblock %}