{% extends "base.html" %}

{% block content %}
<body class="bg-landing">
<section>
    <div class="row text-landing">
        <div class="col m7 s6">
            {% if session.user %}
            <form class="" method="POST" action="{{ url_for('add_newsletter') }}" >   
                <h3>Want the latest additions sent straight to your inbox? Sign up for our newsletter below!</h3>
                    <div class="input-field col m6">
                        <input id="email" name="email" type="email" class="validate" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="row">
                        <div class="col m4 offset-m6">
                            <button class="btn waves-effect waves-light btn-nl-submit" type="submit">
                                <strong>Submit!</strong>
                            </button>
                        </div>
                    </div>
                </form>
            {% else %}
                <h2>Looking for calm music?</h2>
                <h5>Find new artists and add your own - get started below!</h5>
            {% endif %}
        </div>
    </div>
    <div class="row btn-landing m7 s6">
        <div class="col">
            {% if session.user %}
            {% else %}
            <a href="{{ url_for('login') }}" data-target="modal1" class="modal-trigger waves-effect btn ">
                <strong>Login</strong></a>
            <span class="text-or"><strong>or</strong></span>
            <a a href="{{ url_for('sign_up') }}" data-target="modal2" class="modal-trigger waves-effect btn">
                <strong>Sign up</strong></a>
            {% endif %}
        </div>
    </div>
</section>
</body>

{% endblock %}